/node_modules
/dist
.env

.env.production
.env.test
.DS_Store
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
*.iml
coverage
.cache
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.tsbuildinfo
*.tgz
*.swp
*.swo
*.bak
*.orig
*.rej
*.sqlite
*.sqlite3
*.db
*.tgz
*.zip
*.tar.gz
*.7z
/.turbo
/.next
/out
/build
/.expo
/.expo-shared
/.firebase
/.vercel
/.netlify
/.parcel-cache
/.eslintcache
/.prettiercache
/.wrangler
/.swc
/.parcelrc
/.parcel
/.stryker-tmp
/.serverless
/.webpack
/.turbo-test
/.yalc
/.pnp
/.pnp.js
/.pnp.cjs
/.pnp.loader.mjs
/.pnp.loader.cjs
/.pnp.loader.js
/.pnpify
/.pnpify.js
/.pnpify.cjs
/.pnpify.mjs
/.pnpify-loader.cjs